@import url(/lyr/styles/reset.css);

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*로고*/
.head{
  text-align: center;
 }

.logo{
  display: inline-block;

  width: 230px;
}

/*로그인 폼*/
.login{
  font-size: 16px;
  color: #181818;

  display: flex;
  flex-direction: column;

  fieldset{
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*아이디, 비밀번호 입력 서식*/
.form-input{
  input{
    width: 100%;
    box-sizing: border-box;
  }
}

/*로그인 버튼*/
.login-button{
    width: 100%;
    background: #03cf5d;
    border: 0;
    color: #fff;
    font-size: 16px;
    height: 45px;
    margin-top: 20px;
}

/*로그인 보안 관련*/
.login-secure-group{
  display: flex;
  justify-content: space-between;
  padding: 0;

  li {
    list-style-type: none
  }
}

/*IP보안- on,off 스위치*/
.form-checkbox{
  display: inline-block;
}